* {
    margin: 5;
    padding: 5;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  nav {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  .enrollment-form {
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-radio,
  .form-checkbox {
    margin-right: 5px;
  }
  
  .form-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .form-button[type="reset"] {
    background-color: #dc3545;
  }
  
  .container2 {
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .container2 h2 {
    margin-bottom: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th,
  table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }
  
  table th {
    background-color: #f0f0f0;
  }
  